.App__songs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .App__songs__header {
    width: 98%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px; }
    .App__songs__header__addSongBtn {
      fill: #FF9A8B;
      cursor: pointer; }
    .App__songs__header__buttons-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .App__songs__header__buttons-list__button {
        width: 33%;
        min-height: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        background-color: red;
        padding: 30px 20px;
        border-radius: 25px;
        cursor: pointer; }
        .App__songs__header__buttons-list__button svg {
          fill: #fff; }
          .App__songs__header__buttons-list__button svg path {
            fill: #fff; }
        .App__songs__header__buttons-list__button__title {
          color: #fff;
          margin-top: 10px; }
      .App__songs__header__buttons-list .favourites {
        background-color: #FF9A8B;
        background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%); }
      .App__songs__header__buttons-list .playlists {
        background-color: #08AEEA;
        background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); }
      .App__songs__header__buttons-list .recent {
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); }
  .App__songs__list {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 5px;
    padding: 0 20px; }
    .App__songs__list__song {
      width: 100%;
      min-height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer; }
      .App__songs__list__song__right__dots {
        height: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .App__songs__list__song__right__dots__dot {
          height: 6px;
          display: flex;
          justify-content: center;
          align-items: center; }
  @media (max-width: 571px) {
    .App__songs__header__buttons-list__button {
      min-height: 100px;
      padding: 20px 15px; } }
  @media (max-width: 400px) {
    .App__songs__header__buttons-list__button svg {
      width: 20px;
      height: 20px; }
    .App__songs__header__buttons-list__button__title {
      font-size: 15px; } }
  .App__songs__audio-wrapper {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.5px solid #9a9494;
    padding: 0 50px; }
    .App__songs__audio-wrapper__song-info {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      .App__songs__audio-wrapper__song-info__circle {
        width: 130px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .App__songs__audio-wrapper__song-info__circle img {
          width: 100%;
          height: 100%;
          animation: spin 2s linear infinite; }
    .App__songs__audio-wrapper__controls {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px; }
      .App__songs__audio-wrapper__controls__play-button, .App__songs__audio-wrapper__controls__next-button {
        width: 70px;
        height: 70px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
      .App__songs__audio-wrapper__controls__play-button {
        position: relative; }
        .App__songs__audio-wrapper__controls__play-button .circle {
          position: relative; }
        .App__songs__audio-wrapper__controls__play-button .play-icon {
          position: absolute; }
        .App__songs__audio-wrapper__controls__play-button .pause {
          transform: rotate(0);
          display: none; }
        .App__songs__audio-wrapper__controls__play-button .play {
          transform: rotate(0);
          left: 25%; }
        .App__songs__audio-wrapper__controls__play-button svg {
          transform: rotate(270deg); }
          .App__songs__audio-wrapper__controls__play-button svg circle:nth-child(1) {
            fill: transparent;
            width: 100%;
            height: 100%;
            stroke: #9a9494;
            stroke-width: 3px; }
          .App__songs__audio-wrapper__controls__play-button svg circle:nth-child(2) {
            fill: transparent;
            width: 100%;
            height: 100%;
            stroke: #000;
            stroke-width: 3px; }
      .App__songs__audio-wrapper__controls__next-button {
        position: relative; }
  @media (max-width: 775px) {
    .App__songs__audio-wrapper {
      padding: 0 15px; }
      .App__songs__audio-wrapper__song-info {
        gap: 0; }
        .App__songs__audio-wrapper__song-info__circle {
          width: 100px; }
        .App__songs__audio-wrapper__song-info__song-title {
          font-size: 15px; }
      .App__songs__audio-wrapper__controls {
        gap: 10px; }
        .App__songs__audio-wrapper__controls__play-button .circle circle {
          r: 20; }
        .App__songs__audio-wrapper__controls__play-button .play {
          width: 25px;
          height: 25px;
          left: 34%; }
        .App__songs__audio-wrapper__controls__play-button .pause {
          width: 20px;
          height: 20px;
          left: 35%; }
        .App__songs__audio-wrapper__controls__next-button {
          width: 25px;
          height: 25px; } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=Songs.css.map */
